<h4>Yeni Ürün Ekle</h4>

<form #processorAddForm="ngForm" (ngSubmit)="add(processorAddForm)">
  <div class="form-group">
    <input type="text" placeholder="Ürün Markası" #brand="ngModel" [(ngModel)]="model.brand"
           class="form-control" name="brand" id="brand" required>
    <div *ngIf="brand.invalid&&brand.dirty" class="alert alert-danger">Bu alan zorunludur.</div>
  </div>

  <div class="form-group">
    <input type="number" placeholder="Ürün Fiyatı" #price="ngModel" [(ngModel)]="model.price"
           class="form-control" name="price" id="price" required>
    <div *ngIf="price.invalid&&price.dirty" class="alert alert-danger">Bu alan zorunludur.</div>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Soket Türü" #processorSocketType="ngModel" [(ngModel)]="model.processorSocketType"
           class="form-control" name="processorSocketType" id="processorSocketType" required>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Model" #_model="ngModel" [(ngModel)]="model.model"
           class="form-control" name="_model" id="_model" required>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Frekans Hızı" #frequencySpeed="ngModel" [(ngModel)]="model.frequencySpeed"
           class="form-control" name="frequencySpeed" id="frequencySpeed" required>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Dahili Grafik" #internalGraphic="ngModel" [(ngModel)]="model.internalGraphic"
           class="form-control" name="internalGraphic" id="internalGraphic" required>
  </div>

  <div class="form-group">
    <input type="number" placeholder="Thread Sayısı" #threadAmount="ngModel" [(ngModel)]="model.threadAmount"
           class="form-control" name="threadAmount" id="threadAmount" required>
  </div>

  <div class="form-group">
    <input type="text" placeholder="İşlemci Tipi" #processorType="ngModel" [(ngModel)]="model.processorType"
           class="form-control" name="processorType" id="processorType" required>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Ürün Kodu" #productCode="ngModel" [(ngModel)]="model.productCode"
           class="form-control" name="productCode" id="productCode" required>
    <div *ngIf="productCode.invalid&&productCode.dirty" class="alert alert-danger">Bu alan zorunludur.</div>
  </div>

  <div class="form-group">
    <label for="cooler">Soğutucu:</label>
    <select class="form-control" #cooler="ngModel" [(ngModel)]="model.cooler" id="cooler" [ngModelOptions]="{standalone: true}">
      <option [value]=true >Var</option>
      <option [value]=false>Yok</option>
    </select>
  </div>

  <div class="form-group">
    <label for="processorCoreId">Çekirdek:</label>
    <select class="form-control" #processorCoreId="ngModel" [(ngModel)]="model.processorCoreId" required
            id="processorCoreId" name="processorCoreId">
      <option *ngFor="let core of modelCore" [value]="core.id">İsim/Adet: {{core.coreName}} / {{core.coreAmount}}</option>
    </select>
    <div *ngIf="processorCoreId.invalid&&processorCoreId.touched" class="alert alert-danger">Bu alan zorunludur.</div>
  </div>

  <div class="form-group">
    <label for="StockId">Stok Sayısı:</label>
    <select class="form-control" #StockId="ngModel" [(ngModel)]="model.stockId" required
            id="StockId" name="StockId">
      <option *ngFor="let stock of modelStock" [value]="stock.id">{{stock.productAmount}}</option>
    </select>
    <div *ngIf="StockId.invalid&&StockId.touched" class="alert alert-danger">Bu alan zorunludur.</div>
  </div>

  <button type="submit" class="btn btn-primary">Ürün Ekle</button>
</form>


