<h4>HAKKIMIZDA</h4>


<div class="row">

  <div class="card" style="width: 25rem;">

    <div class="card-body">
      <h5 class="card-title">DISTOPIA FOUNDER CEO</h5>
      <img class="card-img-top" src="https://pbs.twimg.com/profile_images/988775660163252226/XpgonN0X.jpg" alt="card-img-cap" />
      <h6 class="card-title">Ahmet Yakup ÇETİNKAYA</h6>
      <p class="card-text">İletişim: ahmykp@gmail.com</p>
    </div>

  </div>

  <div class="card" style="width: 25rem;">

    <div class="card-body">
      <h5 class="card-title">DISTOPIA FOUNDER CTO</h5>
      <img class="card-img-top" src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5b8576db31358e0429c734e3%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D211%26cropX2%3D2381%26cropY1%3D900%26cropY2%3D3072" alt="card-img-cap" />
      <h6 class="card-title">Fatih YAVUZ</h6>
      <p class="card-text">İletişim: fatihyavuz2000@hotmail.com</p>
    </div>

  </div>

</div>


