<div class="list-group">
  <a class="list-group-item" href="http://localhost:4200/products">Tüm Ürünler</a>
</div>
<div class="list-group">
  <a class="list-group-item" href="http://localhost:4200/laptop">Laptop</a>
  <a class="list-group-item" href="http://localhost:4200/computerCase">Bilgisayar Kasası</a>
  <a class="list-group-item" href="http://localhost:4200/displayCard">Ekran Kartı</a>
  <a class="list-group-item" href="http://localhost:4200/hdd">Hard Disk</a>
  <a class="list-group-item" href="http://localhost:4200/mainboard">Ana Kart</a>
  <a class="list-group-item" href="http://localhost:4200/monitor">Monitör</a>
  <a class="list-group-item" href="http://localhost:4200/processor">İşlemci</a>
  <a class="list-group-item" href="http://localhost:4200/ram">RAM</a>
  <a class="list-group-item" href="http://localhost:4200/ssd">SSD</a>
</div>

